<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title> Configuration Index</title>
</head>

<body>
    <h2> Configurations Index:</h2>
    <a href="/get_config?device=1">Get config R1</a><br>
    <a href="/get_config?device=2">Get config R2</a><br>
    <a href="/get_config?device=3">Get config R3</a><br>
    <a href="/get_config?device=4">Get config R4</a><br>
    <a href="/get_config?device=5">Get config R5</a>
    <br>
    <br>
    <a href="/new">Add Router </a>
    <br>
    <br>
    <a href="http://172.20.20.7:3000/d/e5fef7d6-c0cf-4934-a853-902ef54c2dbd/throughput?orgId=1">Grafana graphs</a>
</body>

</html>