{% extends "layout2.html" %}
{% block title %}
Router Configuration
{% endblock %}
{% block title2 %}
Router Configuration
{% endblock %}
{% block content %}
    <form method="POST">
        Hostname:<br> <input type="text" name="hostname"><br>
        Username:<br> <input type="text" name="username"><br>
        Password:<br> <input type="password" name="password"><br>
        Configuration:<br> <textarea name="config" rows="4" cols="70">
            {% for text in txt_contents %}
               {{ text }}
            {% endfor %}
        </textarea><br>
        <a href="/get_ips">Get IPs</a><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Stored Configurations:</h2>
    <ul>
        {% for config in router_configs %}
        <li>
            Hostname:<br> {{ config.hostname }}<br>
            Username:<br> {{ config.username }}<br>
            Password:<br> {{ config.password }}<br>
            Configuration:<br> <pre>{{ config.config }}</pre><br>
        </li>
        {% endfor %}
    </ul>
{% endblock %}